* {
  padding: 0;
  margin: 0;
  background: rgb(139, 206, 223);
}

h1 {
  font-family: cursive;
}

nav {
  float: left;
  margin: 10px;
}

nav li {
  background-color: goldenrod;
  display: inline-block;
  padding: 5px;
  border: 1px solid #999;
}

nav ul li a:hover {
  background-color: blue;
  color: white;
}

header {
  background: grey;
}

div {
  width: 700px;
  border: 2px solid;
  margin: 20px auto;
  text-align: center;
}

div footer p {
  background-color: black;
  color: white;
}

time {
  color: #999;
  display: block;
}

article {
  margin: 60px;
  border: 2px solid;
  background-color: gold;
}

hgroup, p, time {
  margin: 20px;
}
